# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.qjmnopkwphwsgdlhmjqs:[senha]@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true&connect_timeout=30"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.qjmnopkwphwsgdlhmjqs:[senha]@aws-1-us-east-2.pooler.supabase.com:5432/postgres"

# Chave secreta para assinar os tokens JWT
# DEVE ser uma string longa e aleatória em produção
JWT_SECRET=""

# URL do seu frontend (React) para configuração do CORS
# Importante para permitir que o navegador envie cookies
FRONTEND_URL="http://localhost:3000"

# --- Servidor ---
PORT=3001